@import url(/public/assets/common/css/bootstrap.min.css);
@import url(/public/assets/guest/css/all-fontawesome.min.css);
@import url(/public/assets/common/css/animate.min.css);
@import url(/public/assets/common/css/magnific-popup.min.css);
@import url(/public/assets/common/css/owl.carousel.min.css);
@import url(/public/assets/guest/css/style.css);